Repository iputapp/lounas, pull requests merged in 2023-10, with the labels that each got.

#163 Cleanup codes
  public/lottie/loading-logo.json
  src/app/api/auth/otp/verification/resend/route.ts
  src/app/restaurant/[id]/navi/page.tsx
  src/components/forms/otp/VerificationForm/index.tsx
  src/components/layouts/LoadingLayer/index.tsx
  src/components/layouts/LoadingLayer/styles.module.scss
  src/components/lottie/Loading.tsx
  src/hooks/auth/otp/SignupHookForm.ts
Labels: page, component, api route

#165 [Fix] Set the correct destination for when signing out
  src/app/webapp/user/signout/page.tsx
Labels: page

#166 [Fix] Change default state of resend verification code
  src/components/forms/otp/VerificationForm/index.tsx
  src/hooks/auth/otp/VerificationHookForm.ts
Labels: component, hook

#167 [Update] Add submitting state in the sign-up process
  src/components/forms/otp/SignupForm/index.tsx
  src/components/forms/otp/VerificationForm/index.tsx
  src/hooks/auth/otp/SignupHookForm.ts
  src/hooks/auth/otp/VerificationHookForm.ts
Labels: component, hook

#175 [Update] GitHub templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/task-feature.md
  .github/PULL_REQUEST_TEMPLATE/task-feature.md
Labels: documentation

#176 [Update] Docs
  README.md
  _docs/CODING.md
  _docs/DIRECTORY.md
Labels: documentation

#177 [Preview ]Delete test directory
  src/app/test/back-button/page.tsx
  src/app/test/border-circle-button/page.tsx
  src/app/test/border-round-button/page.tsx
  src/app/test/border-title/page.tsx
  src/app/test/bottom-nav-bar/page.tsx
  src/app/test/card-full/page.tsx
  src/app/test/card-hor/page.tsx
  src/app/test/card/page.tsx
  src/app/test/circle-button/constants.ts
  src/app/test/circle-button/page.tsx
  src/app/test/circle-button/price/page.tsx
  src/app/test/circle-button/quantity/page.tsx
  src/app/test/circle-button/result/page.tsx
  src/app/test/circle-button/taste/page.tsx
  src/app/test/circle-button/template.tsx
  src/app/test/cld-img/page.tsx
  src/app/test/dialog-info/page.module.scss
  src/app/test/dialog-info/page.tsx
  src/app/test/dummy/page.tsx
  src/app/test/dummy/test/page.module.scss
  src/app/test/dummy/test/page.tsx
  src/app/test/error/error.module.scss
  src/app/test/error/page.tsx
  src/app/test/expand-panel/page.tsx
  src/app/test/layout.module.scss
  src/app/test/layout.tsx
  src/app/test/loading/page.tsx
  src/app/test/rect-button/page.tsx
Labels: testing

#178 Add vercel-build-ignore settings
  vercel-ignore-build.sh
Labels: vercel

#179 Update PWA settings
  public/favicon/site.webmanifest
  src/app/layout.tsx
  src/app/webapp/user/signout/constants.tsx
Labels: pwa

#180 Fix images URL
  src/app/dish/[id]/page.tsx
  src/app/restaurant/[id]/navi/page.tsx
Labels: page

#181 Fix enviroment URL
  .env.development
  src/app/dish/[id]/layout.tsx
  src/app/dish/[id]/page.tsx
  src/app/layout.tsx
  src/app/recommend/result/page.tsx
  src/app/restaurant/[id]/layout.tsx
  src/app/restaurant/[id]/navi/page.tsx
Labels: environment

#182 Fix image URL
  src/app/recommend/result/page.tsx
Labels: page

#184 Add `fetchCache` settings
  src/app/recommend/result/page.tsx
Labels: page

#185 [Fix] Recommend result not found
  src/app/api/v-beta/recommend/route.ts
  src/app/recommend/result/page.module.scss
  src/app/recommend/result/page.tsx
  src/components/forms/otp/SignupForm/index.tsx
Labels: page, component, api route

#187 [Fix] image URL
  src/app/dish/[id]/page.tsx
Labels: page

#188 [Fix] Dynamic server error: usage cookies
  src/app/api/auth/callback/route.ts
  src/app/api/auth/otp/route.ts
  src/app/api/auth/otp/verification/resend/route.ts
  src/app/api/auth/otp/verification/route.ts
  src/app/api/v-beta/dish/[id]/route.ts
  src/app/api/v-beta/dishes/route.ts
  src/app/api/v-beta/recommend/route.ts
  src/app/api/v-beta/restaurant/[id]/navi/route.ts
  src/app/api/v-beta/restaurant/[id]/route.ts
  src/app/api/v-beta/restaurants/route.ts
  src/app/api/v-beta/user/data-agreement/route.ts
  src/app/api/v-beta/user/visit/new/route.ts
  src/app/api/v-beta/user/visits-count/route.ts
  src/app/dish/[id]/layout.tsx
  src/app/dish/[id]/page.tsx
  src/app/dish/layout.tsx
  src/app/privacy/layout.tsx
  src/app/recommend/layout.tsx
  src/app/restaurant/[id]/layout.tsx
  src/app/restaurant/[id]/navi/page.tsx
  src/app/restaurant/layout.tsx
  src/app/webapp/layout.tsx
  src/components/forms/otp/SignupForm/index.tsx
  src/components/forms/otp/VerificationForm/index.tsx
Labels: page, api route, meta

#189 [Fix] Generating static params to be correct
  src/app/dish/[id]/page.tsx
  src/app/restaurant/[id]/layout.tsx
  src/app/restaurant/[id]/navi/page.tsx
Labels: page

#190 Cleanup codes
  src/app/dish/[id]/page.tsx
  src/app/recommend/result/page.module.scss
  src/app/recommend/result/page.tsx
  src/app/restaurant/[id]/navi/page.tsx
  src/app/tos/layout.tsx
  src/app/tos/page.tsx
Labels: page

#193 [Update] temporarily our privacy
  src/app/privacy/page.tsx
Labels: page

#194 Deploy the beta-version
  src/app/privacy/page.tsx
Labels: minor change

#198 [Fix] Cache of recommend result
  src/app/recommend/result/page.tsx
Labels: page

#199 [Fix] Cache of recommend result
  src/app/recommend/result/page.tsx
Labels: page

#200 Deploy the beta-version
  src/app/recommend/result/page.tsx
Labels: minor change

#201 [Fix] Recommend cache settings
  src/app/recommend/result/page.tsx
Labels: page

#202 Deploy the beta-version
  src/app/recommend/result/page.tsx
Labels: minor change

#206 [Feature]: Feedback 23-10-17 (part1)
  public/icons/link.svg
  public/icons/send-diagonal.svg
  public/lottie/navigation-animation.json
  src/app/api/v-beta/user/data-agreement/route.ts
  src/app/dish/[id]/client.tsx
  src/app/dish/[id]/layout.tsx
  src/app/dish/[id]/page.module.scss
  src/app/dish/[id]/page.tsx
  src/app/privacy/page.module.scss
  src/app/privacy/page.tsx
  src/app/restaurant/[id]/layout.tsx
  src/app/restaurant/[id]/navi/client.tsx
  src/app/restaurant/[id]/navi/page.module.scss
  src/app/restaurant/[id]/navi/page.tsx
  src/app/webapp/home/page.tsx
  src/app/webapp/user/signin/page.tsx
  src/app/webapp/user/signout/constants.tsx
  src/app/webapp/user/signout/page.tsx
  src/components/buttons/RectButton/index.tsx
  src/components/dialogs/DialogAlert/index.tsx
  src/components/lottie/Navigation.tsx
Labels: style, page, component, icon

#204 [Fix] Disable long press of the button's text
  src/app/dish/[id]/page.module.scss
  src/app/webapp/home/page.module.scss
  src/components/buttons/BorderCircleButton/styles.module.scss
  src/components/buttons/BorderRoundButton/styles.module.scss
  src/components/buttons/CircleButton/styles.module.scss
  src/components/buttons/RectButton/styles.module.scss
Labels: style, page, usability, pwa

#208 Deploy the beta-version
  public/icons/link.svg
  public/icons/send-diagonal.svg
  public/lottie/navigation-animation.json
  src/app/api/v-beta/user/data-agreement/route.ts
  src/app/dish/[id]/client.tsx
  src/app/dish/[id]/layout.tsx
  src/app/dish/[id]/page.module.scss
  src/app/dish/[id]/page.tsx
  src/app/privacy/page.module.scss
  src/app/privacy/page.tsx
  src/app/restaurant/[id]/layout.tsx
  src/app/restaurant/[id]/navi/client.tsx
  src/app/restaurant/[id]/navi/page.module.scss
  src/app/restaurant/[id]/navi/page.tsx
  src/app/webapp/home/page.module.scss
  src/app/webapp/home/page.tsx
  src/app/webapp/user/signin/page.tsx
  src/app/webapp/user/signout/constants.tsx
  src/app/webapp/user/signout/page.tsx
  src/components/buttons/BorderCircleButton/styles.module.scss
  src/components/buttons/BorderRoundButton/styles.module.scss
  src/components/buttons/CircleButton/styles.module.scss
  src/components/buttons/RectButton/index.tsx
  src/components/buttons/RectButton/styles.module.scss
  src/components/dialogs/DialogAlert/index.tsx
  src/components/lottie/Navigation.tsx
Labels: major change

#210 [Update] Sign-up text
  src/app/signup/(otp)/page.module.scss
  src/app/signup/(otp)/page.tsx
  src/components/forms/otp/SignupForm/index.tsx
Labels: page, component

#211 Deploy the beta-version
  src/app/signup/(otp)/page.module.scss
  src/app/signup/(otp)/page.tsx
  src/components/forms/otp/SignupForm/index.tsx
Labels: minor change

#213 Deploy the beta-version
  package-lock.json
Labels: dependencies

#214 [Update] GitHub templates & documentations
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/task-feature.md
  .github/PULL_REQUEST_TEMPLATE/task-feature.md
  README.md
  src/app/webapp/user/signout/constants.tsx
Labels: documentation

#215 Deploy the beta-version
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/task-feature.md
  .github/PULL_REQUEST_TEMPLATE/task-feature.md
  README.md
  src/app/webapp/user/signout/constants.tsx
Labels: minor change

#217 [Fix] Time comparison method
  src/app/api/v-beta/recommend/index.ts
  src/app/api/v-beta/recommend/route.ts
Labels: api route

#218 Deploy the beta-version
  src/app/api/v-beta/recommend/index.ts
  src/app/api/v-beta/recommend/route.ts
Labels: minor change

#219 [Update] Minor improvement
  src/app/api/auth/otp/route.ts
  src/app/api/auth/otp/verification/resend/route.ts
  src/app/api/auth/otp/verification/route.ts
  src/app/api/v-beta/recommend/route.ts
  src/app/api/v-beta/user/data-agreement/route.ts
  src/app/api/v-beta/user/visit/new/route.ts
  src/app/api/v-beta/user/visits-count/route.ts
  src/app/privacy/page.tsx
  src/app/recommend/result/page.module.scss
  src/app/recommend/result/page.tsx
  src/app/signup/(otp)/verify/page.tsx
  src/app/tos/layout.tsx
  src/app/tos/page.tsx
  src/app/webapp/home/page.tsx
  src/app/webapp/user/signin/page.tsx
  src/app/webapp/user/signout/page.tsx
  src/components/forms/otp/SignupForm/index.tsx
  src/components/navigations/BottomNavigationBar/index.tsx
  src/hooks/auth/otp/SignupHookForm.ts
  src/hooks/auth/otp/VerificationHookForm.ts
  src/lib/prisma.ts
  src/lib/supabase.ts
  src/middleware.ts
  src/utils/.ts
  src/utils/urlId.ts
  src/utils/verifyId.ts
Labels: page, component, hook, api route

#220 [Fix] Time comparison (temporary) [preview]
  package-lock.json
  package.json
  public/favicon/site.webmanifest
  src/app/api/v-beta/recommend/index.ts
  src/app/api/v-beta/recommend/route.ts
  src/app/dish/[id]/layout.tsx
  src/app/layout.tsx
  src/app/recommend/result/page.tsx
  src/app/restaurant/[id]/layout.tsx
Labels: page, package, api route

#221 Deploy the beta-version
  package-lock.json
  package.json
  public/favicon/site.webmanifest
  src/app/api/auth/otp/route.ts
  src/app/api/auth/otp/verification/resend/route.ts
  src/app/api/auth/otp/verification/route.ts
  src/app/api/v-beta/recommend/index.ts
  src/app/api/v-beta/recommend/route.ts
  src/app/api/v-beta/user/data-agreement/route.ts
  src/app/api/v-beta/user/visit/new/route.ts
  src/app/api/v-beta/user/visits-count/route.ts
  src/app/dish/[id]/layout.tsx
  src/app/layout.tsx
  src/app/privacy/page.tsx
  src/app/recommend/result/page.module.scss
  src/app/recommend/result/page.tsx
  src/app/restaurant/[id]/layout.tsx
  src/app/signup/(otp)/verify/page.tsx
  src/app/tos/layout.tsx
  src/app/tos/page.tsx
  src/app/webapp/home/page.tsx
  src/app/webapp/user/signin/page.tsx
  src/app/webapp/user/signout/page.tsx
  src/components/forms/otp/SignupForm/index.tsx
  src/components/navigations/BottomNavigationBar/index.tsx
  src/hooks/auth/otp/SignupHookForm.ts
  src/hooks/auth/otp/VerificationHookForm.ts
  src/lib/prisma.ts
  src/lib/supabase.ts
  src/middleware.ts
  src/utils/.ts
  src/utils/urlId.ts
  src/utils/verifyId.ts
Labels: major change, deploy

#222 [Fix] Typo of metadata-description
  src/app/dish/[id]/layout.tsx
Labels: meta

#223 Deploy the beta-version
  src/app/dish/[id]/layout.tsx
Labels: minor change, deploy

#224 [Feature] Share (link copy) button
  public/icons/check-circle.svg
  public/icons/share-android.svg
  public/icons/star.svg
  src/app/dish/[id]/page.module.scss
  src/app/dish/[id]/page.tsx
  src/app/webapp/home/page.module.scss
  src/app/webapp/user/signout/page.module.scss
  src/components/buttons/BackButton/styles.module.scss
  src/components/widgets/FavButton/index.tsx
  src/components/widgets/ShareButton/index.tsx
Labels: style, page, component

#225 Deploy the beta-version
  public/icons/check-circle.svg
  public/icons/share-android.svg
  public/icons/star.svg
  src/app/dish/[id]/page.module.scss
  src/app/dish/[id]/page.tsx
  src/app/webapp/home/page.module.scss
  src/app/webapp/user/signout/page.module.scss
  src/components/buttons/BackButton/styles.module.scss
  src/components/widgets/FavButton/index.tsx
  src/components/widgets/ShareButton/index.tsx
Labels: minor change, deploy

#226 [Update] Minor improvements
  README.md
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/icons/logo-full-color-beta.svg
  src/app/favicon.ico
  src/app/not-found.tsx
  src/app/privacy/page.tsx
  src/app/signup/(otp)/page.module.scss
  src/app/signup/(otp)/page.tsx
  src/app/tos/page.tsx
  src/components/forms/BasicCheckbox/index.tsx
  src/components/forms/otp/SignupForm/index.tsx
  src/hooks/auth/otp/SignupHookForm.ts
  src/hooks/auth/otp/VerificationHookForm.ts
  src/middleware.ts
Labels: documentation, page, component, hook, icon, middleware

#227 Deploy the beta-version
  README.md
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/icons/logo-full-color-beta.svg
  src/app/favicon.ico
  src/app/not-found.tsx
  src/app/privacy/page.tsx
  src/app/signup/(otp)/page.module.scss
  src/app/signup/(otp)/page.tsx
  src/app/tos/page.tsx
  src/components/forms/BasicCheckbox/index.tsx
  src/components/forms/otp/SignupForm/index.tsx
  src/hooks/auth/otp/SignupHookForm.ts
  src/hooks/auth/otp/VerificationHookForm.ts
  src/middleware.ts
Labels: minor change, deploy

#229 [Fix] Typo of #226
  src/app/signup/(otp)/page.module.scss
  src/app/tos/page.tsx
Labels: style, page

#231 [Update] Minor improvements
  package-lock.json
  package.json
  src/app/api/v-beta/recommend/route.ts
  src/app/layout.tsx
  src/app/recommend/result/page.tsx
  src/app/signup/(otp)/page.module.scss
  src/app/signup/(otp)/page.tsx
  src/app/tos/page.module.scss
  src/app/tos/page.tsx
  src/app/webapp/user/page.ts
  src/app/webapp/user/signin/page.tsx
  src/components/forms/otp/SignupForm/index.tsx
  src/components/widgets/FavButton/index.tsx
  src/components/widgets/ShareButton/index.tsx
Labels: style, page, package
